<ul>
  <li>Replace Police and Crime Commissioners, elected at great expense in
    elections with very low turnout, with accountable police boards made up of
    local councillors.</li>

  <li>Raise awareness of, and seek to expand, <code>Access to Work</code>, which supports
    people with disabilities in work.</li>

  <li>Accelerate the roll-out of <code>Individual Placement and Support</code>, a proven
    approach to getting people with mental ill-health back into work.</li>

  <li>Increase accessibility to public places and transport by making more stations
    wheelchair accessible.</li>
</ul>
