<ul>
  <li>Build at least 100 new free schools a year.</li>

  <li>Prohibit councils from creating any new places in schools that have either been
    rated 'inadequate' or 'requires improvement' by <code>Ofsted</code>.</li>

  <li>Universities who charge maximum tuition fees will have to become involved in
    academy sponsorship or founding free schools.</li>

  <li>Open a specialist maths school in every major city in England.</li>

  <li>Require new faith schools to prove that parents of other faiths, and none, would
    be prepared to send their children to that school.</li>

  <li>Ensure that at least 100 leading independent schools become involved in academy
    sponsorship or founding of new free schools (if progress is not made, change
    the tax status of independent schools).</li>

  <li>Lift the ban on the establishment of selective schools.</li>

  <li>Conduct a review of the school admissions policy.</li>

  <li>Expect every 11 year old to know their times tables off by heart.</li>

  <li>Expect 75% of pupils to have been entered for the <code>EBacc</code> combination of GCSEs
    by the end of the next parliament. Have 90% of pupils studying this combination
    by 2025.</li>

  <li>Consider how Ofsted can give parents more information about what their children
    are being taught.</li>

  <li>Offer forgiveness on student loan repayments whilst new teachers are teaching.</li>

  <li>Establish a single portal for teaching jobs.</li>

  <li>Increase the overall schools budget by £4 billion by 2022.</li>

  <li>Remove universal free school lunches for 5-7 year olds.</li>

  <li>Provide free school breakfast to every child in every year of primary school.</li>

  <li>Replace 13,000 existing technical qualifications with new qualifications called
    <code>T-Levels</code>. Increase the number of teaching hours by 50% to an average of 900
    hours per year. Make sure every student does a 3 month placement as part of
    their course.</li>

  <li>Establish new <code>Institutions of Technology</code> in every major city in England.</li>

  <li>Deliver the commitment to create 3 million apprenticeships by 2020.</li>

  <li>Introduce reduced bus and train travel for apprentices.</li>

  <li>Introduce a new <code>Right to Request Leave for Training</code> for employees.</li>

  <li>Introduce a <code>National Training Scheme</code> where the costs of training will be
    met by the government.</li>

  <li>Ensure that teaching assistants can become qualified teachers, and healthcare
    nurses can become nurses via a degree apprenticeship route.</li>

  <li>Introduce a <code>Right to Lifelong Learning in Digital Skills</code>.</li>

  <li>Introduce 30 hours of free childcare for 3 to 4 year olds for working families
    who find it difficult to manage the costs of childcare.</li>

  <li>Institute a capital fund to help primary schools develop nurseries.</li>

  <li>Introduce the presumption that all new primary schools should include a nursery.</li>

  <li>Publish a green paper on young peoples' mental health before the end of this
    year.</li>

  <li>Introduce mental health first aid training for teachers in every primary and
    secondary school by the end of parliament and ensure every school has a single
    point of contact with mental health services.</li>

  <li>Build up the investment funds of our universities across the UK.</li>
</ul>
