<ul>
  <li>Maintain the commitment to spend 0.7% of GNI on foreign aid.</li>

  <li>Offer asylum and refuge to people in parts of the world affected by conflict &amp;
    oppression, rather than those who have made it to Britain.</li>

  <li>Work with the overseas territory governments to create a <code>Blue Belt</code> of marine
    protection in their precious waters, establishing the largest marine sanctuaries
    in the world.</li>

  <li>Review the application of the <code>Modern Slavery Act</code> to strengthen our ability to
    stop criminals putting people in exploitative working conditions.</li>
</ul>
