<ul>
  <li><code>Tax Transparency and Enforcement Programme</code>.</li>

  <li>Guarantee no rises in income tax for those earning &lt;£80,000 a year (with no
    increases in personal National Insurance).</li>

  <li>95% of taxpayers will be guaranteed no increase in their income tax.</li>

  <li>Increase corporation tax for large companies.</li>

  <li>Lower small profits rate of corporation tax. Small business (with turnover
    of &lt;£85,000) are excluded from quarterly reporting and late payment actions.</li>

  <li>Double the size of the corporate sector.</li>

  <li>Reinstate the <code>Cross-Whitehall Ministerial Group on Tourism</code>.</li>

  <li>Elected <code>House of Lords</code>, and reduce the size of the House of Lords.</li>

  <li>Extend the <code>Freedom of Information Act</code> to private companies that run public
    services.</li>

  <li>Reduce the voting age to 16.</li>

  <li><code>Financial Credibility Rule</code> introduced to maintain fiscal health.</li>
</ul>
