<ul>
  <li>Ensure 60% of the UK's energy comes from zero-carbon renewable sources by 2030.</li>

  <li>Meet the OECD target of 3% of GDP spend on Research and Development by 2030.</li>

  <li>Create National Education Service for England.</li>

  <li>Councils established for each <code>strategic industry</code> in the UK.</li>

  <li>Reduce boardroom pay excesses by moving towards a 20:1 gap between highest and
    lowest paid.</li>

  <li>Appoint a <code>Digital Ambassador</code>.</li>

  <li>Establish a <code>National Investment Bank</code> to bring in private capital finance.</li>

  <li>Law changed so that banks cannot close a branch where there is a clear local need.</li>

  <li><code>Excessive Pay levy</code> introduced to reduce the pay gap.</li>

  <li>Amend the takeover regime to ensure that businesses which are <code>systematically
    important</code> have a clear plan to protect workers and pensioners when the company
    is taken over.</li>

  <li>Mandate the new National Investment Bank to improve the funding gap.</li>

  <li>Lower the small business corporate tax rate.</li>
</ul>
