<ul>
  <li>A referendum on the detail of the negotiated deal for Brexit, with the
    option to reject the deal and remain in the EU.</li>

  <li>Protect freedom of movement.</li>

  <li>Press for remaining in the single market.</li>

  <li>Immediately guarantee the rights of EU citizens to remain in the UK, and
    seek reciprocal arrangements for UK citizens in the EU.</li>

  <li>Guarantee the rights of young people to study, work, live and travel in
    the EU, including through schemes like <code>Erasmus</code>.</li>
</ul>
