<ul>
  <li>Provide more funding for sexual health awareness campaigns.</li>

  <li>Introduce non-biased political education and promote active citizenship.</li>

  <li>Free universal early education and childcare for all children, with
    formal education starting formal education at age 7.</li>

  <li>Abolish <code>Ofsted</code>.</li>

  <li>Reform the curriculum so that it is pupil-centred.</li>

  <li>Increase real term spending per pupil, and protect this spending.</li>

  <li>Bring academies and free schools into the local authority system.</li>

  <li>Abolish SATS.</li>

  <li>Reduce class sizes.</li>

  <li>Scrap university tuition fees and fund full student grants.</li>

  <li>Greater public investment in further and higher education.</li>

  <li>Restore <code>Education Maintenance Allowance</code>.</li>

  <li>Enable apprenticeships to all qualified young people aged 16-25.</li>
</ul>
