<ul>
  <li>Bring energy, water, railways, buses, the Royal Mail and care work back
    into public ownership.</li>

  <li>Increase funding for local authorities to provide good quality public
    services.</li>

  <li>Review the effectiveness of how public services are structured,
    including assessment how care is provided at the transition age of 18.</li>

  <li>Re-regulate buses, investing in increased bus services, especially in
    rural and other poorly served areas.</li>

  <li>All public transport should be fully accessible and step-free with a
    phase-in of free local public transport for young people, students,
    people with disabilities, and older people.</li>

  <li>Invest in regional rail links and electrification of existing rail <br />
    lines.</li>

  <li>Cancel all airport expansion and end subsidies on airline fuel.</li>

  <li>Invest in low traffic neighbourhoods and safe/convenient networks for
    walking and cycling, including safe places for learning to cycle.</li>

  <li>Invest in more staff at <code>HMRC</code>.</li>
</ul>
