<ul>
  <li>Reduce foreign aid to 0.2 per cent of <code>Gross National Income</code>.</li>

  <li>A new international visa system with four principal visa categories:


    <ul>
      <li>Work Visas. Highly skilled workers with a job offer sponsored by companies
        paying them a minimum of £30,000 per annum will have priority.</li>

      <li>Tourist and Visitor visas which covers those who come to Britain as
        tourists, to conduct business, or to see family. Valid for up to 12 months.</li>

      <li>Student visas.</li>

      <li>Family Reunion Visas. Foreign nationals marrying British citizens will have
        to prove the primary purpose of their marriage is not to obtain British
        residency.</li></ul>
  </li>

  <li>Abolish the <code>European Economic Area Family Permit Scheme</code>, and reinstate the
    primary purpose rule.</li>

  <li>All new migrants to Britain will be expected to make tax and national
    insurance contributions for at least five consecutive years before they become
    eligible to claim UK benefits, or access non-urgent NHS services, save for any
    exceptions stipulated by the <code>Migration Control Commission</code>.</li>

  <li>Those arriving on work visas may apply for British Citizenship after five
    years, provided they have worked and paid tax here, and maintained their
    medical insurance throughout that time.</li>

  <li>No amnesty for illegal immigrants.</li>

  <li>Foreign criminals will not be granted a visa to enter the UK.</li>

  <li>Migrants who commit crimes resulting in a custodial sentence will have their
    visa revoked and be detained until they are deported.</li>

  <li>Allow law-abiding EU citizens living in the UK before Article 50 was triggered
    the right to stay here indefinitely, and expect the same concession to be
    granted to British citizens living overseas within the EU.</li>

  <li>No benefits will be paid for any dependents living overseas when we leave the
    EU.</li>

  <li>Test the social attitudes of migration applicants to foster community cohesion
    and protect core British values.</li>

  <li>Close down the <code>Department for International Development</code>. A single <code>Minister
    for Overseas Development</code> working from the <code>Foreign and Commonwealth Office</code>
    will administer aid.</li>

  <li>Repeal the law requiring us to spend 0.7% of our GNI on foreign aid, and
    reduce the aid budget to 0.2% of GNI over time.</li>
</ul>
